node_modules
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.iss

info.txt
dev.quill
minify.ps1
Dev-Internal.md
Check-List.md

images
versions
releases

# Build output
bin/
*.zip
# Executables
*.exe
quill-linux
quill-macos-intel
quill-macos-arm
quill-c-linux
quill-c-macos-intel
quill-c-macos-arm
main2
main
test2.c
test.c

# Test artifacts
*.tmp
*.log
tests/.tmp/

# Misc
.DS_Store
Thumbs.db
src-t/